version: "3.8"

services:
    app:
        image: fristaylo/uptime-checker:latest
        ports:
            - "80:80"
        depends_on:
            - db
        environment:
            - DATABASE_URL=${DATABASE_URL}
            - GLOBALPING_API_KEY=${GLOBALPING_API_KEY}
            - GLOBALPING_API_KEY2=${GLOBALPING_API_KEY2}
            - GLOBALPING_API_KEY3=${GLOBALPING_API_KEY3}
            - GLOBALPING_API_KEY4=${GLOBALPING_API_KEY4}
        restart: always

    db:
        image: postgres:13
        ports:
            - "5432:5432"
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
        volumes:
            - pgdata:/var/lib/postgresql/data
        restart: always

volumes:
    pgdata:
