.statusContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--color-dark-bg-1);
    border-radius: var(--border-radius-md);
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
}

@keyframes shimmer {
    100% {
        left: 150%;
    }
}

.domainSection {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    gap: 1rem;

    @media (max-width: 500px) {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

.domainName {
    height: 24px;
    width: 150px;
    background-color: var(--color-bg);
    border-radius: var(--border-radius-sm);
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -150%;
        width: 150%;
        height: 100%;
        background: linear-gradient(
            90deg,
            transparent,
            rgba(255, 255, 255, 0.08),
            transparent
        );
        animation: shimmer 1.5s infinite;
    }
}

.requests {
    height: 20px;
    background-color: var(--color-bg);
    border-radius: var(--border-radius-sm);
    position: relative;
    overflow: hidden;
    flex-grow: 1;

    @media (max-width: 500px) {
        width: 100%; /* Занимает всю доступную ширину */
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -150%;
        width: 150%;
        height: 100%;
        background: linear-gradient(
            90deg,
            transparent,
            rgba(255, 255, 255, 0.08),
            transparent
        );
        animation: shimmer 1.5s infinite;
    }
}
