.headerContainer {
    box-shadow: var(--box-shadow);
    display: flex;
    width: 100%;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--color-dark-bg-1);
}

.header {
    padding: 10px;
    display: flex;
    align-items: center;
	max-width: 1350px;
    width: 100%;
}

.logoContainer {
    margin-right: 40px;
    text-align: center;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;

	@media (max-width: 650px) {
    	display: none;
	}
}

.nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logoImg {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.logoLink {
    text-decoration: none;
}
