.pingDashboard {
  padding: 20px;
  color: #eee;
  border-radius: 8px;

  h2 {
    margin-top: 0;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
  }
}

.chartsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

@media (max-width: 950px) {
  .chartsGrid {
    grid-template-columns: 1fr;
  }
}

.countryChart {
  background-color: #1d1d1d;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  height: 300px;
  flex-direction: column;
  min-width: 0;
}

.chartContainer {
  flex-grow: 1;
  position: relative;
}

.countryHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.countryName {
  margin-left: 10px;
  color: #fff;
  font-size: 20px;
}

.countryRow {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.countryName {
  font-weight: bold;
}

.pingSquares {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.pingSquare {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  cursor: pointer;
}

.green {
  background-color: #28a745;
}

.yellow {
  background-color: #ffc107;
}

.red {
  background-color: #dc3545;
}

.controls {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
  justify-content: center;
}
