:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #fff;
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin: 0;
}

button {
  height: 38px;
  padding: 0 15px;
  border-radius: var(--border-radius-lg);
  border: none;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-button-bg);
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
  color: #fff;

  &:hover {
    background-color: var(--color-button-hover-bg);
  }

  &:active {
    background-color: var(--color-button-active-bg);
  }
}
