:root {
    --color-primary: #ff6666;
    --color-secondary: #6c757d;
    --color-medium-bggray: #e0e0e0;

    --color-button-bg: #555;
    --color-button-hover-bg: #444;
    --color-button-active-bg: #3d3d3d;

    --color-green: #28a745;
    --color-dark-green: #1e7e34;
    --color-yellow: #ffc107;
    --color-red: #dc3545;

    --color-dark-bg-1: #333;
    --color-dark-bg-2: #252525;
    --color-bg: #222;

    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 12px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
